@use 'variables';

.profissionais{
    background-image: url(../images/section2.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 333px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 34px;

    &__blocos{
        display: inline-block;
        text-align: center;
        padding: 95px 23px 95px 23px;

        &__imagem{
            padding-bottom: 11px;
        }

        &__nome{
            font-weight: bold;
            font-size: 12px;
        }
    }
}